extend layout

block header-content
    h1 Welcome to my About page
    p we learn nodejs today

block main-content
    h1 This is Body of Page
    p Insert whatever u want


block footer-content 
    h1 This footer of homepage 
    p insert whatever u want