extends layout

block header-content
    h1 Employee List 
        a(class="btn_add" href="/Add") +
block main-content
    div.flexContainer
        each emp in employee
            div.flex_item
                div.fname #{emp.fname} 
                div.lname #{emp.lname} 
                div.btn
                    form(action="/Delete")
                        input(type="hidden" name="empId" value=emp._id)
                        button.btn_delete delete
                    form(action="/Edit")
                        input(type="hidden" name="empId" value=emp._id)
                        button.btn_edit edit 
                    