extends layout

block header-content
    h1 Welcome to my homepage

block main-content
    h1 This body of homepage 
    p insert whatever u want

block footer-content 
    h1 This footer of homepage 
    p insert whatever u want